@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Lexend Mega', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}

#listeLettres ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#listeLettres ul li {
    margin-left: 4px;
    margin-right: 4px;
    background: none;
    color: black;
    
}

#listeLettres ul li form input {
    box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Lexend Mega', sans-serif;
	font-size:17px;
	padding:9px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

#listeLettres ul li form input:hover {
    background-color:#eb675e;
}

#listeVilles {
    background: whitesmoke;
    border: black 1px solid;
    width: 600px;
    height: 200px;
    overflow: auto;
}

#listeVilles ul li form input{
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow:inset 0px 39px 0px -24px #e77c74;
	background-color:#e4685d;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Lexend Mega', sans-serif;
	font-size:17px;
	padding:9px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

#formulaire {
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formulaire ul li {
    margin-top: 15px;
    margin-bottom: 15px;
}


header {
    border: 1px solid black;
    background: #e4685d;
    margin-bottom: 20px;
  }
  
  header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  header ul li a {
    text-decoration:none;
    cursor:pointer;
      color:#ffffff;
      font-family: 'Lexend Mega', sans-serif;
      font-size:17px;
  }

  footer {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      background: #e4685d;
      margin-top: 20px;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer ul li a {
    color: white;
  }




  .btn, input[type="submit" i]  {
    background-color:#e4685d;
	/*border:4px solid #e4685d;*/
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
  }

  .btn:hover, input[type="submit" i]:hover  {
    background-color:#942911;
  }

  #form_ajout_civile {
      border: brown 1px solid;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  #form_ajout_civile div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form_ajout_civile div input, 
#form_ajout_civile div label,
#form_ajout_civile div select{
    margin: 5px 10px 5px 10px;
}

#form_ajout_civile div input[type="datetime-local"]{

    width: 300px;
}

  #form_ajout_ville {
    border: brown 1px solid;
    display: flex;
    flex-direction: column;
}

#form_ajout_ville div{
    margin: 5px 10px 5px 10px;
}

.allRed {
    background: #e4685d;
}

#authentification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #bebebeb2;
    height: 600px;
    width: 600px;
    margin: 60px auto;
}

#authentification div,
#authentification div form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#authentification div form input{
    width: 400px;
    height: 20px;
    margin-top: 20px;
}

#authButton {
    box-shadow: 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#authButton:hover {
    background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background:#000000;
    color:#ffffff;
}